body{
	padding:30px;
	
	background-color: #A0410D;
}
#log{
	background-color: #FFFFC2;
	width:100%;
	height:90vh;
}
#title{
	font-family: 'Anton', sans-serif;
	font-size: 35pt;
	margin-left:30px;
}
#stats{
	display:inline-block;
}
#current_missions{
	overflow-y:auto;
	height:70%;
	width:90%;
	background-color:white;
	margin:30px;
}

#new_mission_button{
	background-color:#598527;
	color:white;
}