<div class="modal fade cancel_modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog text-center container">
    	<div id="multiple_delete">
	    	<h5><span id="mission_occurrence"></span> more objectives found for</h5>
	    	<h3 class="cancel_mission_title"></h3>
	    	<br/>
	    	<a class="btn btn-custom cancel_one">Delete One</a>&nbsp;
	    	<a class="btn btn-custom cancel_all">Delete All</a>&nbsp;
	    	<a class="btn btn-custom cancelDelete">Cancel</a>
	    	<br/>
	    	<p class="description"><em>* Previously collected resources will be saved.</em></p>
	    	
	    	<div id="cancel_progress">
	    		<label for="cancel_progress">Deleting:</label>
	    		<div class="progress">
					<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
					</div>
				</div>
			</div>
	    </div>
	    <div id="single_delete">
	    	<h5>Are you sure you want to delete mission?</h5>
	    	<h3 class="cancel_mission_title"></h3>
	    	<br/>
	    	<a class="btn btn-custom cancel_one">Delete Mission</a>&nbsp;
	    	<a class="btn btn-custom cancelDelete">Cancel</a>
	    </div>
	    <br/>
  	</div>
</div>