<div class="modal fade failed_dialog" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-body loading_progress_background ">
        	<h5><img src='/images/icon_timed.png' class='time_img'/> &nbsp;<strong>Uh-Oh! Time's up for mission:</strong></h5>
        	<h3 class="mission_title text-center"></h3>
        	<img src="/images/deadlion_leap.png" class="failed_mission_img center-block"/>
        	<a class="btn btn-add-time">+1 Minute to Mission</a>
        	<a class="btn btn-fail-mission">Throw to the Lion...</a>
    	</div>
  	</div>
</div>				
