	<title>Creeping Deadlions</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">

	<!-- jQuery (necessary for Bootstrap's Javascript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- More Javascript plugins (Bootstrap and personal scripts) -->
	<script src="js/bootstrap.min.js"></script>
	<script src="js/helpers.js"></script>
	<!-- Imported Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
	<!-- Personal stylesheet -->
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
	<script type="text/javascript" src="//www.parsecdn.com/js/parse-latest.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
