<h3> The Basics. </h3>
			<p>&nbsp; It's a cat-eat-cat world out there! In order to keep the village fires burning and their bellies full, runners must brave the dark cat-vern of the vicious deadlions. Whether or not they return with what they seek is up to you..
			</p>
			<hr/>
			<div class="help_img_box"><img class="help_img" src="../images/nav_log.png"></div>
			<p>&nbsp; A running tally of all den-defying runners - and the mission their fate hinges upon.

				With every objective you finish, with every checkbox you tick off, the runner gets closer and closer to making it back to the village - and not in a body bag. Safety will only be given to those runners whose mission has been completed.
			</p>
			<hr/>
			<div class="help_img_box"><img class="help_img" src="../images/nav_history.png"></div>
			<p>
				&nbsp; ALL your previous missions - their glorious successes, or their digestive failures. Additional information will be found in each entry.

				(Flowers will not be provided at any service you decide to hold.)
			</p>
			<hr/>
			<div class="help_img_box"><img class="help_img" src="../images/nav_village.png"></div>
			<p>
				&nbsp; Displays a view of the runner's village. Upgrades can be triggered from here. 
				<br></br>
				Ignore the gloom. They like it.
			</p>
			<hr/>
			<div class="help_img_box"><img class="help_icon" src="../images/nav_newmission.png"></div>
			<p>
				&nbsp; Take the first step into the abyss - send a (about-to-be) lost soul into the darkness beyond the village torches, and assign a mission to them to determine their fate. 
			</p>
			<hr/>
			<div class="help_img_box"><img class="help_icon" src="../images/nav_profile.png"></div>
			<p>
				&nbsp; Tells you the state of your village, how far you are from the next upgrade, and allows you to log out.
			</p>
			<!--
			<hr/>
			<div class="help_img_box"><img class="help_icon" src="../images/icon_recurring.png"></div>
			<p>
				&nbsp; Indicates a recurring mission.
			</p>
			<hr/>
			<div class="help_img_box"><img class="help_icon" src="../images/icon_timed.png"></div>
			<p>
				&nbsp; Indicates a mission with a set deadlion.
			</p>
			-->