<nav>
	<a class="btn btn-custom btn-selected history-button" id="history-completed-button">Completed Missions</a>
	<a class="btn btn-custom history-button" id="history-failed-button">Failed Missions</a>
</nav>
<br/>
<ul id="completed-missions-list" class="list-unstyled">
</ul>
<ul id="failed-missions-list" class="list-unstyled">
</ul>