<div class="modal fade loading_modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog no_padding">
        <div class="modal-body loading_progress_background ">
        	<strong><h5>Starting Mission:</h5></strong>
        	<h3 class="mission_title text-center"></h3>
        	<div class='loading_bar'>
        		<img src='/images/lion-run.gif' id="lion-load" class="loading_img"/>
        		<img src='' id="runner-load" class="loading_img"/>
       		</div>
    	</div>
  	</div>
</div>				
