<div class="modal fade loading_modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog no_padding">
        <div class="modal-body loading_progress_background ">
        	<h3 class="mission_title"></h3>
        	<div class='loading_bar'>
        		<img src='/images/lion-run.gif' id="lion-load" class="loading_img"/>
        		<img src='' id="runner-load" class="loading_img"/>
        </div>
    </div>
  </div>
</div>				
