<div class="modal fade resource_modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
    	<h3>Congratulations!</h3>
    	<h5>You earned:</h5>
    	<img src="" class="resource_earned_img"/><p class="resource_earned"><p>
    	<a class="btn btn-custom close_modal">Purrfect!</a>
  	</div>
</div>				
