<div id="village_bar" >


	<ul id="resource_bar" class="list-inline">
		<li>
			<div class="resource_meter">
				<img class="resource_icon" src="../images/resource_wood.png">
				<span class="resource_counter resource_wood"></span>
			</div></li>
		<li>
			<div class="resource_meter">
				<img class="resource_icon" src="../images/resource_stone.png">
				<span class="resource_counter resource_stone"></span>
			</div></li>
		<li>
			<div class="resource_meter">
				<img class="resource_icon" src="../images/resource_food.png">
				<span class="resource_counter resource_food"></span>
			</div></li>
		<li>
			<div id="village_namelvl" class=""><strong>Lvl.1</strong>
			</div></li>
		<li class=">
			<button id="btn-upgrade" type="button" disabled>Upgrade</button>
			</li>
	</ul>
</div>
<!-- #village_display holds visual representation of village -->
<div id="village_display" class="container-fluid">
	<!-- <div id="gradient0">&nbsp;</div>
	<div id="gradient1">&nbsp;</div>
	<div id="gradient2">&nbsp;</div>
	<div id="campfire"><img src="/images/village_stage01.gif"/></div>
	<div><img src="/images/tentcity.gif"></div>
	-->
</div>