<!doctype html>
<html>
<head>
	{{> head}}
	<script src="js/index_scripts.js"></script>
</head>
<body>

<div id="main" class="main">
	<div class="navbar_cust" id="navbar_top"> 
		<div class="row">
			<div class="pull-left" id="new_mission_button"><a href="create_mission">
				<img src="../images/nav_newmission.png" class="nav_img"></a></div>
			<div class="pull-right btn-group" id="prof_dropdown">
				<a href="#" id="menu_stats" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../images/nav_profile.png" class="nav_img"></a>
				<ul class="dropdown-menu stat-dropdown">
					<li>Village Level: 1</li>
					<li><img class="resource_icon" src="/images/resource_food.png"/> Food: <span id="food_count"></span></li>
	   				<li><img class="resource_icon" src="/images/resource_wood.png"/> Wood: <span id="wood_count"></span></li>
	   				<li><img class="resource_icon" src="/images/resource_stone.png"/> Stone <span id="stone_count"></span></li>
	   				<li role="separator" class="divider"></li>
	   				<li><a id="logoutbutton">Log Out</a></li>
				</ul>
			</div>
			<div class="text-center" id="current_page_id">Mission Log</div>
	  	</div>
	</div>
	<!-- main navigation bar fixed @ bottom -->
	<div class="navbar_cust" id="navbar_bottom">
		<div class="container-fluid">
			<ul class="list-inline text-center" id="main-nav">
				<li>
					<a href="#" id="menu_log"><img src="../images/nav_log.png" class="nav_img"></a></li>
				<li>
					<a href="#" id="menu_history"><img src="../images/nav_history.png" class="nav_img"></a></li>
				<li>
					<a href="#" id="menu_help"><img src="../images/nav_help.png" class="nav_img"></a></li>
				<li>
					<a href="#" id="menu_village"><img src="../images/nav_village.png" class="nav_img"></a></li>
			</ul>
		</div>
	</div>	

	<div id="main" class="container">
			
		<div class="main-content">
			
			<!-- The mission log portion of the app -->
			<div id="missions" class="row ">
				<div id="missions-list-wrapper">
					<ul id="missions-list" class="list-unstyled">
					</ul>
				</div>
			</div>

			<!-- The history portion of the app -->
			<div id="history">
				<br/>
				{{> history}}
			</div>
			<!-- The help portion of the app -->
			<div id="help">
				{{> help}}
			</div>

			<!-- The village section of the app -->
			<div id="village">
				{{> village}}
			</div>
		</div>
	</div>

	{{> index_popups}}
	{{> fail_dialog}}
	{{> resource}}
	{{> cancel}}
</div>
{{> google_analytics}}
 </body>
</html>