<!doctype html>

<html>
<head>
	{{> head}}
	<script src="js/login_scripts.js"></script>
</head>
<body>
<div id="login" class="main container-fluid text-center">
	
	<h1>Creeping Deadlions</h1>
	<em><h5 id="error_msg"></h5></em>
	<div id="sign-in" class="container-fluid">
		<label for="username">Username:</label>
			<input type="text" name="login_username" id="username" required/> <br>
		<label for="password">Password:</label>
			<input type="password" name="login_password" id="password" required/> <br><br>
			<a class="btn btn-custom btn-login" id="sign-in-button">Login</a> <br> <br>
		<a href="#sign-up" class="btn btn-custom btn-login">Create Account</a>
	</div>
	<div id="sign-up" class="container-fluid">
		<!--<form role="form" method="get" action="/login#sign-up">-->
			
				<input type="hidden" name="form_id" value={{id}}/>
			<label for="new_username">Username:</label>
				<input type="text" name="form_user" id="new_username" required/> <br>
			<label for="new_password">Password:</label>
				<input type="password" name="form_password" id="new_password" required/> <br>
			<label for="new_password_verify">Verify Password:</label>
				<input type="password" name="form_password_verify" id="new_password_verify" required/>
				<br><br>
				<a class="btn btn-custom btn-login" id="sign_up_button">Sign Up</a> <br> <br>
		<!--</form>	-->
		<a href="#sign-in" id="cancel_sign_up_button" class="btn btn-custom btn-login">Cancel</a>
	</div>
</div>
</body>
</html>
