<!doctype html>

<html>
<head>
	{{> head}}
	<script src="js/animate.js"></script> 
</head>
<body>
	<div class="alert alert-warning">
	  <strong>Feline Fine!</strong>
	</div>
	<a href="/" class="btn btn-primary">Skip Animation</a>
	<div id="animation_screen" class="container-fluid">
		<img src="/images/run-test.gif" id="runner_start"/>
	</div>
	<script type="text/javascript">
		completeMission();
	</script> 
</body>
</html>
