<!doctype html>

<html>
<head>
	{{> head}}
	<script src="js/mission_scripts.js"></script>
</head>
<body>
<div id="main" class="main">
    <div id="missions" class="row">
    	<div id="new_mission" class="col-md-12 mission_box">
    		<h1 class="text-center">Create a Mission</h1>
    		<em><h5 id="error_msg"></h5></em>
			<!--<form id="newMissionForm" role="form" method="get" action="/new_mission">-->
			<label for="new_mission_name_textbox">Enter Mission Name:</label>
				<input id="new_mission_name_textbox" class="form-control" type="text" placeholder="Mission Name" name="mission_name" required/>

			<div class="new_input" id="new_frequency_input">
			<label for="new_mission_name_textbox">Select Mission Frequency:</label><br/>
				<ul class="list-unstyled text-center">
				<li>
					<!-- click calls toggleTimed-->
					<input type="radio" id="new_freq_recurring" name="frequency"/>
					<label class = "freq_select" for="new_freq_recurring">Recurring (regular activity)</label>
				</li>
				<li>
					<!-- click calls toggleRecurring-->
					<input type="radio" id="new_freq_timed" name="frequency"/>
					<label class = "freq_select" for="new_freq_timed">Timed (activity with deadline)</label>
				</li>
				<li><a id="freqDetailsBtn" class="btn">No Time Selected</a></li>
				</ul>
			</div>
		
			<label>Select Runner:</label>
			<div class="new_input text-center" id="new_select_runner">
			<ul class="list-inline">
				<li>
					&lt;<img alt="Select Runner Screen" class="gif" src="/images/run-test.gif"/>&gt;
				</li>
				<br/>
				<li>
					<label for="new_runner_textbox">Name:</label>
					<input type="text" id="new_runner_textbox" class="form_control" name="runner"/>
				</li>
				<li>
					<a class="btn btn-custom" id="new_runner_randomize">?!<a>
				</li>
			</ul>
			</div>			
				
			<div class="new_input text-center" id="new_input_submit">
					<button type="submit" class="btn btn-custom" id="new_run_button">RUN!</button>
					<a class="btn btn-custom" href="/" id="new_cancel_button">Cancel</a>
			</div>
			<!--</form>-->
    	</div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="recurFreq" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Select Date</h4>
      </div>
      <div class="modal-body">
					<div id="new_freq_recurring_area" class="freq_option">
						<em><h5 id="recur_error_msg"></h5></em>
						<label for="new_task_recurring_dates">Days:</label>
						
						<ul id="new_task_recurring_dates" class="list-unstyled">
							<input type="checkbox" id="select_all"/><label for="select_all">Select All</label>
							<li><input type="checkbox" name="sunday" id="sunday_box" class="day_box"/><label for="sunday_box">Sunday</label></li>
							<li><input type="checkbox" name="monday" id="monday_box" class="day_box"/><label for="monday_box">Monday</label></li>
							<li><input type="checkbox" name="tuesday" id="tuesday_box" class="day_box"/><label for="tuesday_box">Tuesday</label></li>
							<li><input type="checkbox" name="wednesday" id="wednesday_box" class="day_box"/><label for="wednesday_box">Wednesday</label></li>
							<li><input type="checkbox" name="thursday" id="thursday_box" class="day_box"/><label for="thursday_box">Thursday</label></li>
							<li><input type="checkbox" name="friday" id="friday_box" class="day_box"/><label for="friday_box">Friday</label></li>
							<li><input type="checkbox" name="saturday" id="saturday_box" class="day_box"/><label for="saturday_box">Saturday</label></li>
						</ul>
						<label for="new_task_until_date">Until:</label>
						<input type="date" id="new_task_until_date" name="duedate"/>
					</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-custom" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-custom modalSaveBtn">Save Changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="timedFreq" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
      				<div id="new_freq_timed_area"class="freq_option">
      					<em><h5 id="timed_error_msg"></h5></em>
						<label for="new_task_due_date">Due Date:</label>
						<input type="date" id="new_task_due_date" name="duedate"/>
						<br/>
						<label for="new_task_due_time">Time:</label>
						<input type="time" id="new_task_due_time" name="duetime" value="00:00"/>
						<div class="new_input" id="new_subtask_input">
							<input type="hidden" name="subtasklist" id="hiddensubtasks"/>
							<label for="new_subtasks">Subtasks:</label>
							<ul id="new_subtasks" class="list-unstyled"></ul>
							<label id="new_subtask_label" for="subtask"></label>
							<input id="new_subtask_textbox" type="text" placeholder="Enter subtask"/>
						<a id="add_task_button" class="btn btn-subtask">+</a>
						</div>

					</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-custom" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-custom modalSaveBtn">Save Changes</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>
