<!doctype html>

<html>
<head>
	{{> head}}
	<script src="js/animate.js"></script> 
</head>
<body>
	<div id="animation_screen">
		<a href="/" class="btn pull-right">Skip Animation</a>
		<h1 class="cutscene_message">CATASTROPHE!</h1>
		<img src="/images/deadlion_leap.png" id="deadlion_fail"/>
		<img src="" id="runner_start"/>
	</div>
	<script type="text/javascript">
		failedMission();
	</script> 
</body>
</html>
