<!doctype html>

<html>
<head>
	{{> head}}
	<script src="js/animate.js"></script> 
</head>
<body>
	
	<div id="animation_screen">
		<a href="/" class="btn pull-right">Skip Animation</a>
		<h1 class="cutscene_message">Feline Fine!</h1>
		<h5 class="text-center"><strong>You earned <img id="resource" src = "" class="resource_icon"/> 
			<span class="resource_earned"></span></strong></h5>
		<img src="" id="runner_start"/>
	</div>
	<script type="text/javascript">
		completeMission();
	</script> 
</body>
</html>
