<!doctype html>

<html>
<head>
	{{> head}}
	<script src="js/animate.js"></script>
</head>
<body>
	<div class="alert alert-warning">
	  <strong>Success!</strong> Mission was added
	</div>
	<a href="/" class="btn btn-primary">Return to Mission Log</a>
	<div id="animation_screen" class="container-fluid">
		<img src="/images/run-test.gif" id="runner_start"/>
		<img src="/images/lion-run-test.gif" id="deadlion_animate"/>
	</div>
	<script type="text/javascript">
		newMission();
	</script>  
</body>
</html>
