body{
	padding: 10px 10px;
	background-image: url("../images/background.png");
}

/* index.handlebars */
.main{
	/*background-color: #000000;
	opacity: 0.6;
	
	height: 85vh;
	padding: 5px;*/
}
.background{
	background-color: #000000;
	opacity: 0.6;
	position:fixed;
	z-index:-10000;
	margin:0;
	width:95vw;
	height: 78vh;
	margin-top:8vh;
}
 .main-content{
 	margin-top:8vh;
 	width:100%;
	height: 70vh;
	padding: 5px;
 }
#title{
	font-family: 'Anton', sans-serif;
	font-size: 18pt;
}
#stats{
	display:inline-block;
}
#transition_btn{
	background-color: #00270D;
	color: white; 
	margin: 2px 20px 0px 20px;
}
/* STARTOF index.handlebars::navbar */
.navbar_cust {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  max-height:100px;
  padding: 0px;
  padding-left: 2px;
}
	/*Top menu bar information*/
#navbar_top {
	top: 0;
	background-color: #BEB096;
  	border: 1px solid #361700;
  	padding:0px 10px;
  	padding-left:20px;
}
.nav_img {
	width: 15vw;
	max-width:50px;
	height: 15vw;
	max-height:50px;
}
#new_mission_button{
	/*
	background-color:#990000;
	color:white;
	margin: 0px 10px 0px 10px
	*/
	/*float: left;*/
}
#menu_stats {
	margin: 0px 10px 0px 0px;
	float: right;
}
#prof_dropdown {
	/*float: right;*/
}
#current_page_id {
	margin: 0 auto;
	font-family: 'Anton', sans-serif;
	font-size: 22pt;
}
	/*Bottom menu bar information*/
#navbar_bottom {
	bottom:0;
}

#main-nav > li > a {
	color: #361700;
	font-family: 'Anton', sans-serif;
	background-color: #BEB096;
  	border: 4px solid #361700;
  	padding: 2vh 0vw 2vh 0vw;
}
/* END index.handlebars::navbar */

#main h1{
	font-family: 'Anton', sans-serif;
	font-size: 20pt;
	color:white;
}

/* STARTOF index.handlebars::#missions (hopefully) */
#missions {
	padding:5px;
	overflow-x:hidden;
}
#current_missions{
	overflow-y:auto;
	height:70%;
	width:90%;
	background-color:white;
	margin:30px;
	margin-top:0;
}
.mission_box {
	border:1px solid gray;
	height: auto;
	background-color: #FFF9D9;
	padding: 10px;
}
.mission_background {
	/*margin: 0vh -5vw 0vh -5vw;*/
	padding: 8vh 7vw 0vh 5vw;
	background-color: rgba(0,0,0,0);
	background-image: url("../images/parchment.png");
	background-size: 92vw auto;
}
/*flat out overrides previous work, because I can't
be bothered to find the other tags*/
.current_mission.mission_box{
	background-color: rgba(0,0,0,0);
	border: none;
}
.subtaskToggle {
	clear: both
}

.subtask{
	font-size:18px;
	width:80%;
}

/*
.freq_option{
	display:none;
}
*/
.highlight-text{
	font-weight: 400;
	color: red;
}

.gif{
	width:50px;
	height:50px;
}

.distance{
	min-width: 100px;
}
.runner-progress{
	width:90%;
}

#animation_screen{
	background-color:white;
	overflow:hidden;
	position:absolute;
	width:95vw;
}
#deadlion_animate{
	position:absolute;
	z-index:1;
}
/* ENDOF index.handlebars::#missions (hopefully) */

/* STARTOF index.handlebars::#history */
#history {
	display: none;
	height:70vh;
	overflow:auto;
}
.history_mission{
	margin-bottom: 15px;
}
.history_mission h3{
	font-size: 15pt;
	font-weight:bold;
}

.history_mission h5{
	font-size: 10pt;
}
.history_mission p{
	font-size: 10pt;
	font-weight:bold;
	font-style:italic;
}
/* ENDOF index.handlebars::#history */

/* STARTOF index.handlebars::#help */
#help {
	display: none;
	height:70vh;
	width: 85vw;
	overflow:auto;
	color:black;
	background-color: #FFF9D9;
	padding: 0px 2vw 2vh 2vw;
}
.help_img {
	width: 15vw;
	max-width:75px;
	height: 15vw;
	max-height:75px;
	background-color: white;
	border: 2px solid #361700;
}
.help_icon {
	width: 12vw;
	max-width: 60px;
	height: 12vw;
	max-height: 60px;
	background-color: white;
	border: 2px solid #361700;	
}
.help_img_box {
	margin: 0px 0px 2vh 0px;
}
/* ENDOF index.handlebars::#help */

/* START index.handlebars::#missions*/
.default-list{
	color:white;
	font-size: 12pt;
}

.btn-custom{
	border:2px solid #361700;
	background-color: #BEB096;
	color:black;
	font-family: 'Anton', sans-serif;
}


#new_mission{
	min-height:70vh;
	padding:10px;
}
#new_mission_name_textbox{
	width:100%;
	font-size:15px;
	height:30px;
	margin-bottom:15px;
}

.freq_select{
	font-weight: normal;
}
.runner_gif{
	right:0em;
}

.stat-dropdown{
	border:2px solid #361700;
	background-color: #BEB096;
	color:black;
	font-family: 'Anton', sans-serif;
	padding:10px;
}
.current_mission{
	min-width:80vw;
	margin-bottom: 15px;
}

#missions-list-wrapper{
	height:70vh;
	overflow:auto;
	width:100%;
}
.complete_mission{
	margin-right:15px;
}

.mission-dropdown {
	border: 1px solid #361700;
	background-color: #BEB096;
	color: black;
	padding: 3px;
	z-index: 100;
}
.tasklist {
	display: none;
}

.btn-selected{
	background-color: #467E79;
}
.collapse_indicator {
	display: inline;
}

.current_mission h3{
	font-size: 15pt;
	font-weight: bold;
}

.current_mission h4{
	font-size: 10pt;
	font-style:italic;
	width: auto;
}

.subtasks-list label{
	font-weight:normal;
	margin-left:5px;
}

/* STARTOF index.handlebars::#village */
#village{
	height:70vh;
	width:90vw;
	display: none;

}
#village_display{
	width:85vw;
	height: 65vh;
	overflow-x: scroll;
	overflow-y: hidden;
	margin: 0px auto;
}
#gradient0{
	padding: 5vh 0px;
	background-color: #070504;
}
#gradient1{
	padding: 5vh 0px;
	background-color: #181008;
}
#gradient2{
	padding: 5vh 0px;
	background-color: #2c1d0e;
}
#campfire{
	padding: 4vh 0px;
	text-align: center;
	background-color: #3f2a14;
}

#village_description{
	color:white;
}

#village_namelvl {
	vertical-align: text-bottom;
	font-size: 90%;
}
#village_bar {
	background-color: #BEB096;
	border: 1px solid white;	
	width: 85vw;
	padding: 2px 4px;
	margin-bottom: 5px;
}
.resource_counter {
	font-size: 80%;
}
.resource_icon {
	width: 4vw;
	min-width: 16px;
	height: 4vw;
	min-height: 20px;
	/*background-color: white;
	border: 1px solid #361700;	
	*/
}
.resource_meter {
	margin-left: -1px;
}
#resource_bar {
}

#btn-upgrade {
	font-size: 90%;
}
/* ENDOF index.handlebars::#village styling*/
/* ENDOFFILE index.handlebars */

/* FILE login.handlebars styling*/
#login h1{
	font-family: 'Anton', sans-serif;
	font-size: 32pt;
	margin-bottom: 5vh;
	margin-top: 5vh;
	color:white;
}
.login_img {
	max-width: 50vw;
	max-height: 50vh;
	background-color: white;
	border: 4px solid #361700;

	padding-left: 1vw;
	margin-bottom: 1vh;
}
#login label{
	margin: 2vh 0vw;
	color:white;
}

#sign-in, #sign-up{
	display:none;
}

#sign-in:target{
	display:block;
}

#sign-up:target{
	display:block;
}

#password_error{
	display:none;
	color:red;
}
#error_msg, #recur_error_msg, #timed_error_msg{
	color:red;
	text-align: center;
}
.btn-login{
	width:70vw;
}
/* ENDOFFILE of login.handlebars styling (maybe?)*/

/* FILE mission_form.handlebars (NOTE: classes/ids may be in
								index.handlebars::#mission) */
.modal-dialog{
	border:2px solid #361700;
	background-color: #BEB096;
}
.modal-content{
	background-color: #FFF9D9;
}
.day_box + label{
	font-weight:normal;
	margin-left:5px;
}


.subtask_check + label{
	font-weight:normal;

}
#new_mission{
	margin:20px;
}

#new_mission h1{
	color:black;
}
#new_runner_textbox{
	width:40vw;
}

#new_run_button{
	margin-top:20px;
	font-size:20pt;
	width:80%;
	margin-bottom:10px;
}
#new_cancel_button{
	width:60%;
	height:30px;
}

#new_subtasks{
	overflow-y:auto;
	margin-left:30px;
}
#new_subtask_label{
	margin-left:30px;
}

#new_select_runner {
	margin: 1vh 0vw;
}
#add_task_button{
	font-size:25px;
	cursor:pointer;
}
.btn-subtask{
	border:2px solid #361700;
	background-color: #BEB096;
	color:black;
	padding: 0px 10px;
	border-radius:20px;
	font-size: 30pt;
	font-family: 'Anton', sans-serif;
}

.runner_gif{
	right:0em;
}

.lion_img{
	width:55px;
	height:55px;
	margin-top:-60px;
	left:-100px;
	margin-left:35%;
}

.runner_img{
	width:45px;
	height:45px;
	margin-right:-18px;
	margin-top:-40px;
}

.progress_background{
	background-color:#9CD17A;
	height:10px;
	width:97%;
	margin-top:10px;
}

.distance{
	height:10px;
	background-color:#E25957;
	width:40%;
	margin-right:-10px;
}

.delete_subtask{
	margin-left: 5px;
}
/* ENDOF mission_form.handlebars */

::-webkit-scrollbar {
	width: 12px;
	margin-left:-100px;
	position: absolute;
}
 
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}