body{
	padding: 60px 20px 20px 20px;
	background-color: #A0410D;
}
#main{
	background-color: #FFFFC2;
	width:100%;
	height: 85vh;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 5px;
}
#title{
	font-family: 'Anton', sans-serif;
	font-size: 18pt;
}
#stats{
	display:inline-block;
}
#transition_btn{
	background-color: #00270D;
	color: white; 
	margin: 2px 20px 0px 20px;
}

#current_missions{
	overflow-y:auto;
	height:70%;
	width:90%;
	background-color:white;
	margin:30px;
	margin-top:0;
}

#new_mission_button{
	background-color:#598527;
	color:white;
}
#missions{
	padding:30px;
	overflow-x:hidden;
}
.mission_box{
	border:1px solid gray;
	height: auto;
	background-color: lightgray;
}

#new_subtasks{
	overflow-y:auto;
	margin-left:30px;
}
#new_subtask_label{
	margin-left:30px;
}

#new_mission_name_textbox, #new_subtask_textbox{
	width: 50%;
	height:30px;
	font-size:20px;
}
#add_task_button{
	font-size:25px;
	cursor:pointer;
}
.subtask{
	font-size:18px;
}

.freq_option{
	display:none;
}
#village{
	height:60vh;
	width:90vw;
}

.highlight-text{
	font-weight: 400;
	color: red;
}
#gradient0{
	padding: 6vh 0px;
	background-color: #000000;
}
#gradient1{
	padding: 4vh 0px;
	background-color: #050301;
}
#gradient2{
	padding: 3vh 0px;
	background-color: #1a1005;
}
#campfire{
	padding: 5vh 0px;
	text-align: center;
	background-color: #301d0a;
}

.gif{
	width:50px;
	height:50px;
}

.distance{
	min-width: 100px;
}
.runner-progress{
	background-color:white;
	width:100%;
}

#animation_screen{
	background-color:white;
	overflow:hidden;
	position:absolute;
	width:95vw;
}
#deadlion_animate{
	position:absolute;
	z-index:1;
}

.new_msn_btn{
	background-color: green;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 5;
}

.new_msn_btn a {
	color: white;
	font-family: 'Anton', sans-serif;
	font-weight: 200;
	font-size: 12pt;
}
.visible-xs-block a {
	font-size: 30pt;
}

#history {
	display: none;
}
#help {
	display: none;
}
#population {
	display: none;
}

::-webkit-scrollbar {
	width: 12px;
	margin-left:-100px;
	position: absolute;
}
 
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#login h1{
	font-family: 'Anton', sans-serif;
	font-size: 32pt;
}

#sign-in, #sign-up{
	display:none;
}

#sign-in:target{
	display:block;
}

#sign-up:target{
	display:block;
}

#password_error{
	display:none;
	color:red;
}